{{template "header" .}}
<div class="container">
    {{if .}}
    <table class="ordersTable">
        <tr>
            <th>order_uid</th>
            <td>{{.OrderUid}}</td>
        </tr>
        <tr>
            <th>track_number</th>
            <td>{{.TrackNumber}}</td>
        </tr>
        <tr>
            <th>entry</th>
            <td>{{.Entry}}</td>
        </tr>
        <tr>
            <th>delivery</th>
            <td>
                <table class="deliveryTable">
                    <tr>
                        <th>name</th>
                        <th>phone</th>
                        <th>zip</th>
                        <th>city</th>
                        <th>address</th>
                        <th>region</th>
                        <th>email</th>
                    </tr>
                    <tr>
                        <td>{{.Delivery.Name}}</td>
                        <td>{{.Delivery.Phone}}</td>
                        <td>{{.Delivery.Zip}}</td>
                        <td>{{.Delivery.City}}</td>
                        <td>{{.Delivery.Address}}</td>
                        <td>{{.Delivery.Region}}</td>
                        <td>{{.Delivery.Email}}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th>payment</th>
            <td>
                <table class="paymentTable">
                    <tr>
                        <th>transaction</th>
                        <th>request_id</th>
                        <th>currency</th>
                        <th>provider</th>
                        <th>amount</th>
                        <th>payment_dt</th>
                        <th>bank</th>
                        <th>delivery_cost</th>
                        <th>goods_total</th>
                        <th>custom_fee</th>
                    </tr>
                    <tr>
                        <td>{{.Payment.Transaction}}</td>
                        <td>{{.Payment.RequestId}}</td>
                        <td>{{.Payment.Currency}}</td>
                        <td>{{.Payment.Provider}}</td>
                        <td>{{.Payment.Amount}}</td>
                        <td>{{.Payment.PaymentDt}}</td>
                        <td>{{.Payment.Bank}}</td>
                        <td>{{.Payment.DeliveryCost}}</td>
                        <td>{{.Payment.GoodsTotal}}</td>
                        <td>{{.Payment.CustomFee}}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th>items</th>
            <td>
                <table class="itemTable">
                    <tr>
                        <th>chrt_id</th>
                        <th>track_number</th>
                        <th>price</th>
                        <th>rid</th>
                        <th>name</th>
                        <th>sale</th>
                        <th>size</th>
                        <th>total_price</th>
                        <th>nm_id</th>
                        <th>brand</th>
                        <th>status</th>
                    </tr>
                    {{range .Items}}
                    <tr>
                        <td>{{.ChrtId}}</td>
                        <td>{{.TrackNumber}}</td>
                        <td>{{.Price}}</td>
                        <td>{{.Rid}}</td>
                        <td>{{.Name}}</td>
                        <td>{{.Sale}}</td>
                        <td>{{.Size}}</td>
                        <td>{{.TotalPrice}}</td>
                        <td>{{.NmId}}</td>
                        <td>{{.Brand}}</td>
                        <td>{{.Status}}</td>
                    </tr>
                    {{end}}
                </table>
            </td>
        </tr>
        <tr>
            <th>locale</th>
            <td>{{.Locale}}</td>
        </tr>
        <tr>
            <th>internal_signature</th>
            <td>{{.InternalSignature}}</td>
        </tr>
        <tr>
            <th>customer_id</th>
            <td>{{.CustomerId}}</td>
        </tr>
        <tr>
            <th>delivery_service</th>
            <td>{{.DeliveryService}}</td>
        </tr>
        <tr>
            <th>shardkey</th>
            <td>{{.ShardKey}}</td>
        </tr>
        <tr>
            <th>sm_id</th>
            <td>{{.SmId}}</td>
        </tr>
        <tr>
            <th>date_created</th>
            <td>{{.DateCreated}}</td>
        </tr>
        <tr>
            <th>oof_shard</th>
            <td>{{.OofShard}}</td>
        </tr>
    </table>
    {{else}}
    <div class="orderNotFound">
        Заявка не найдена!
    </div>
    {{end}}
</div>
{{template "footer" .}}